<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
<!--[formGroup]="loginForm" no form-->
    <mat-card-content>
      <form  (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Digite seu email" formControlName="email" type="email">
          <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
            Email é obrigatório
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
            Digite um email válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Digite sua senha" formControlName="password"
                 [type]="hidePassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
            Senha é obrigatória
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit"
                [disabled]="loginForm.invalid" class="full-width">
          Entrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
